<h1>Test of SvgHeartsYou Helper Methods</h1>

<h2>#svg_inline</h2>
<%= svg_inline 'circle.svg' %>

<h2>#svg_symbol</h2>
<%= svg_symbol 'circle.svg' %>

<h2>#svg_use 'circle'</h2>
<%= svg_use 'circle' %>

<h2>#svg_use 'circle.svg'</h2>
<%= svg_use 'circle.svg' %>
